details > summary {
    /* list-style: circle; */
    display: list-item;

    color: #fff;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    margin: 20px 0 0 0;
    user-select: none;
}

details > summary.header-1 {
    font-size: 30px;
}

details > summary.header-2 {
    font-size: 20px;
    /* margin: 0 0 20px 10px; */
}

details > summary.header-3 {
    font-size: 16px;
    /* margin: 0 0 20px 20px; */
}

details > details {
    border-left: solid #828282;
    padding-left: 10px;
}

details > p {
    margin-bottom: 10px;
    line-height: 1.4;
}

.spoiler, .spoiler a {
    color: transparent;
    background-color: black;
    user-select: none;
}

.spoiler:hover, .spoiler:hover a {
    color: inherit;
    background-color: inherit;
    user-select: inherit;
}

.spoiler img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}   

.spoiler:hover img {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}   